.p-checkbox {
    &.checkbox-dh {
        .p-checkbox-box {
            border-radius: 3px;
            // border-color: #99E3FF;
            box-shadow: none;
            &:not(.p-checkbox-disabled) {
                &:hover {
                    border-color: #99E3FF;
                }
                &.p-highlight {
                    border-color: #99E3FF !important;
                    background: #99E3FF !important;
                }
                &.p-focus {
                    border-color: #99E3FF !important;
                }
            }
        }
    }
}

.ant-checkbox-wrapper {
    &.checkbox-dh {
        &:hover {
            .ant-checkbox-inner {
                border-color: #99E3FF !important;
            }
        }
        .ant-checkbox {
            border-radius: 3px;
            box-shadow: none;
            &:hover {
                .ant-checkbox-inner {
                    border-color: #99E3FF;
                }
            }
            &.ant-checkbox-checked {
                .ant-checkbox-inner {
                    border-color: #99E3FF !important;
                    background: #99E3FF !important;
                }
                &::after {
                    border-color: #99E3FF !important;
                    border-radius: 3px;
                }
            }
        }
    }
}
