@import "~rc-steps/assets/index.css";
@media (min-width: 992px) {
    .steps-navbar {
        transition: none;
        z-index: 1031;
        position: fixed;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        top: 50px;
        &.scrolled {
            top: 10px;
        }
    }
}
