.ant-steps {
    &.step-antd-dh {
        .ant-steps-item {
            .ant-steps-item-content {
                .ant-steps-item-title {
                    font-weight: 500;
                    font-size: 10px;
                }
            }
            .ant-steps-item-tail {
                &::after {
                    background-color: #dbe0e3 !important;
                    height: 3px;
                    border-radius: 15px;
                }
            }
            .ant-steps-item-icon {
                border: 2px solid;
                .ant-steps-icon {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                }
            }
            &-wait {
                .ant-steps-item-icon {
                    border-color: #c4cbd1;
                    background-color: transparent;
                    background: transparent;
                    .ant-steps-icon {
                        color: #c4cbd1;
                    }
                }
            }
            &-process {
                .ant-steps-item-icon {
                    border-color: #99E3FF;
                    background-color: transparent;
                    background: transparent;
                    .ant-steps-icon {
                        color: #99E3FF;
                    }
                }
            }
            &-finish {
                .ant-steps-item-icon {
                    border-color: #99E3FF;
                    background-color: #99E3FF;
                    .ant-steps-icon {
                        color: #0083B3;
                        .ant-steps-finish-icon {
                            width: 70%;
                            display: block;
                            background-image: url(/images/icons/check.svg);
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            margin: auto;
                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
