#donasi-page-dh {
    .donation-section {
        position: relative;
        background: linear-gradient(360deg, #99e3ff 0%, #ddf6ff 100%);
        top: -53px;
        z-index: -4;
        height: calc(350px + 53px);
        .islamic-bg {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 60%;
            mix-blend-mode: overlay;
            object-fit: cover;
        }
    }
    .content {
        position: relative;
        top: calc(0px - 350px);
    }
    .banner-section {
        .banner-img-wrapper {
            .title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 110%;
                color: #ffffff;
                position: absolute;
                bottom: 0;
            }
            height: 400px;
            width: 100%;
            border-radius: 35px;
            position: relative;
            margin: auto;
            .imooge {
                filter: brightness(0.7);
                background: #12bfff;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 35px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .content-section {
        .detail-program-desc {
            h1,
            h2,
            h3,
            h4,
            h5 {
                font-family: "Poppins" !important;
            }

            p,
            label {
                font-family: "FiraSans" !important;
            }
        }
        .new-info {
            .box-info {
                display: flex;
                flex-direction: column;
                background: #ffffff;
                padding: 2.5rem;
                box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
                border-radius: 20px;
                .date-info {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #bdbdbd;
                }
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 110%;
                    color: #31383f;
                }

                .image-wrap {
                    width: 100%;
                    height: 340px;
                    border-radius: 20px;
                    position: relative;
                    .imooge {
                        background: #12bfff;
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .desc {
                    font-family: "FiraSans";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 150%;
                    color: #414b54;
                }
            }
        }
        .donatur {
            height: 80vh;
            overflow: auto;
            background: #ffffff;
            box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px 2px rgba(24, 39, 75, 0.08);
            border-radius: 15px;
            padding: 1.5rem;
            .list {
                padding: 1rem 0.5rem;
                display: flex;
                flex-direction: row;
                .profile-img {
                    background: #c4e8f5;
                    width: 42px;
                    height: 42px;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        border-radius: 30px;
                        width: 65%;
                        height: 65%;
                    }
                }

                .amount {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: right;
                    color: #186d8b;
                }

                .comment {
                    font-family: "FiraSans";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #31383f;
                }

                .date-info {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 24px;
                    color: #bdbdbd;
                }

                .user-name {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #4f4f4f;
                }
            }
        }
        img {
            max-width: 95%;
            border-radius: 5px;
        }
    }
    .main-donation {
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
        border-radius: 15px;
        background: #ffffff;
        max-width: 100%;
        width: 450px;
        z-index: 1;
        @media (min-width: 992px) {
            .flyover {
                overflow: auto;
                // max-height: 35vh;
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
        }
        @media (min-width: 992px) {
            &.solute {
                position: absolute;
                bottom: 15px;
            }
            width: 380px;
            margin: auto;
            bottom: 0;
        }
        &.syur {
            @media (min-width: 992px) {
                position: fixed;
                bottom: auto;
                &.nice {
                    top: 130px;
                }
            }
        }
        .program-image {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            width: 100%;
            height: 50%;
            background: #ddf6ff;
            img {
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                width: 100%;
            }
        }

        .title-support {
            text-align: center;
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 110%;
            color: #0c3543;
        }
        .program-wrapper {
            // max-height: 50vh;
            overflow: auto;
            .program-info {
                text-align: center;
                .profile-info {
                    .profile-img {
                        width: 26px;
                        height: 26px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            border-radius: 30px;
                            width: 26px;
                            height: 26px;
                        }
                    }
                    .profile-name {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #414b54;
                    }

                    .is-certified {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .donation-info {
                    background: #edf9ff;
                    border-radius: 5px;
                    .donatur-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 17px;
                        height: 17px;
                        img {
                            width: 100%;
                        }
                    }

                    .donatur-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 140%;
                        color: #239cc6;
                    }
                    .donasi {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 140%;
                        color: #62717d;
                    }

                    .cart {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .days-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #62717d;
                    }

                    .days {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #62717d;
                    }
                }

                .target-info {
                    .amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 19px;
                        color: #186d8b;
                    }

                    .target-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: -0.005em;
                        color: #828282;
                    }
                }
            }

            .donate-price {
            }
        }
        .share {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 24px;
            color: #62717d;
        }
    }

    .step {
        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 110%;
            text-align: center;
            color: #101315;
        }

        .sub-header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #8896a2;
            .link {
                color: #5790ff;
            }
            &.detail {
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #101315;
            }
            &.day {
                font-weight: 600;
                font-size: 20px;
                line-height: 110%;
                color: #31383f;
            }
        }
        .timer {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            line-height: 110%;
            text-align: center;
            color: #d93535;
        }
        .label-input {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #414b54;
        }
        .payment-box {
            cursor: pointer;
            background: #ffffff;
            border: 0.396376px solid #e7e7e7;
            box-sizing: border-box;
            box-shadow: 0px 4.75651px 11.0985px -4.75651px rgba(24, 39, 75, 0.12),
                0px 7.92752px 25.3681px -3.17101px rgba(24, 39, 75, 0.1);
            border-radius: 6.34202px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 250px;
            max-width: 100%;
            height: 100px;
            &.active {
                background: #ddf6ff;
            }
        }

        .box-detail {
            background: #ffffff;
            box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
            border-radius: 15px;
            .header {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
                color: #0c3543;
            }
            .title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 120%;
                color: #101315;
            }

            .profile-info {
                .profile-img {
                    width: 26px;
                    height: 26px;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        border-radius: 30px;
                        width: 26px;
                        height: 26px;
                    }
                }
                .profile-name {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    color: #414b54;
                }

                .is-certified {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .total-info {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                color: #62717d;
                .amount {
                    font-size: 20px;
                    line-height: 110%;
                    text-align: right;
                    color: #0083b3;
                }
            }
            .share {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 24px;
                color: #62717d;
            }
        }
        .card-payment-info {
            border: none;
            box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
            border-radius: 16px;
            .card-header {
                background: transparent;
                .name {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    color: #31383f;
                }
            }
            .card-body {
                .rek-info {
                    .header {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 120%;
                        color: #31383f;
                        text-align: left;
                    }
                    .value {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 28px;
                        color: #31383f;
                    }
                }
                .total-info {
                    .header {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 120%;
                        color: #31383f;
                        text-align: left;
                    }
                    .value {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 28px;
                        color: #d93535;
                    }
                }

                .copy {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    text-align: right;
                    text-decoration-line: underline;
                    color: #00aeef;
                }
            }
        }
        .how-to {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            color: #31383f;
        }
        .step-card {
            border: none;
            background: transparent;
            .card-header {
                cursor: pointer;
                background: transparent;
                border: none;
                .title-step {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    color: #414b54;
                }
                .xol {
                    .arrow {
                        background-repeat: no-repeat;
                        background-image: url("/images/icons/arrow-up.svg");
                    }
                    &.collapsed {
                        .arrow {
                            background-image: url("/images/icons/arrow-down.svg");
                        }
                    }
                }
            }
            .card-body {
                .list {
                    font-family: "FiraSans";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 120%;
                    color: #414b54;
                }
            }
        }
    }
}
