#home-page-dh {
    .banner-slider {
        left: 0;
        right: 0;
        position: absolute;
        .slide-index {
            z-index: -1;
        }
        .banner-list {
            .slick-arrow {
                display: none !important;
            }
            &.one {
                position: relative;
                top: 0;
            }
            &.two {
                position: relative;
                top: -40px;
            }
            &.three {
                position: relative;
                top: -70px;
            }
            width: 180px;
            .banner-item {
                width: 100%;
                height: 230px;
                border-radius: 20px;
                position: relative;
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 110%;
                    color: #ffffff;
                    position: absolute;
                    bottom: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 20px;
                    object-fit: cover;
                }
            }
        }
    }
    .banner-section {
        .text-date {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #62717d;
        }

        .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            color: #293b16;
            line-height: 120%;
            @media (min-width: 992px) {
                font-size: 48px;
            }
        }

        .description {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #333333;
        }
    }

    .donation-section {
        background: #f7f9f4;
        .header {
            text-align: center;
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
        }

        .card-donation {
            background: #ffffff;
            box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px -5px 24px -4px rgba(24, 39, 75, 0.08);
            border-radius: 26px;
            padding: 1.5rem !important;
            .card-child {
                width: 73px;
                height: 73px;
                background: rgba(233, 243, 223, 0.7);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .value {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                color: #186d8b;
                .currency {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .value-label {
                font-family: "FiraSans";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 120%;
                color: #333333;
            }
        }
    }

    .zakat-section {
        position: relative;
        .bg {
            background: #f7f9f4;
            width: 100%;
            height: 30%;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .zakat-wrapper {
            background: linear-gradient(360deg, #bddb9e 0%, #d3e7be 100%), #d3e7be;
            border-radius: 30px;
            position: relative;
            .islamic-bg {
                // background-image: url("/images/backgrounds/islamic.svg");
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 30px;
                width: 100%;
                height: 100%;
                opacity: 60%;
                mix-blend-mode: overlay;
                object-fit: cover;
            }
            .header {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 120%;
                text-align: center;
                color: #293b16;
            }

            .card-zakat {
                cursor: pointer;
                background: #e9f3df;
                box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px -5px 24px -4px rgba(24, 39, 75, 0.08);
                backdrop-filter: blur(11px);
                border-radius: 26px;
                padding: 1.5rem !important;
                .card-child {
                    width: 73px;
                    height: 73px;
                    background: #bddb9e;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                }

                .label {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    text-align: center;
                    color: #151e0b;
                }
            }
        }
    }

    .program-section {
        .program-footer {
            border-bottom: 1px solid #bddb9e;
        }

        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #151e0b;
        }

        .desc {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #828282;
        }

        .card-program {
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 15px;
            .program-image {
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                width: 100%;
                height: 50%;
                img {
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    width: 100%;
                }
            }

            .program-info {
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 110%;
                    color: #0c3543;
                }
                .profile-info {
                    .profile-img {
                        width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            border-radius: 30px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .profile-name {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #414b54;
                    }

                    .is-certified {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .donation-info {
                    background: #edf9ff;
                    border-radius: 5px;
                    .donatur-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 14px;
                        height: 14px;
                        img {
                            width: 100%;
                        }
                    }

                    .donatur-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 140%;
                        color: #239cc6;
                    }
                    .donasi {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 140%;
                        color: #62717d;
                    }

                    .cart {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .days-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #62717d;
                    }

                    .days {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #62717d;
                    }
                }

                .target-info {
                    .amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 19px;
                        color: #186d8b;
                    }

                    .target-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: -0.005em;
                        color: #828282;
                    }
                }
            }
        }
    }

    .fundaraising-section {
        position: relative;
        .bg {
            background: #f7f9f4;
            width: 100%;
            height: 30%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #151e0b;
        }

        .description {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #828282;
        }

        .slider-wrapper {
            position: relative;
            .dh-arrow {
                z-index: 1;
                width: 42px;
                height: 42px;
                background: #e9f3df;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                &::before {
                    content: "";
                }
            }
            .wrapper-img-fundaraising {
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    @media (min-width: 992px) { 
                        font-size: 36px;
                    }
                    font-size: 20px;
                    line-height: 110%;
                    color: #ffffff;
                    position: absolute;
                    bottom: 0;
                }
                height: 300px;
                width: 95%;
                border-radius: 35px;
                position: relative;
                margin: auto;
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 35px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .our-partner-section {
        background: #f7f9f4;
        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #151e0b;
        }

        .description {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #828282;
        }
    }

    .unnamed-section {
        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #151e0b;
        }

        .description {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #828282;
        }

        .wrapper-img-unnamed {
            .title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 110%;
                color: #ffffff;
                position: absolute;
                bottom: 0;
            }
            height: 280px;
            width: 95%;
            border-radius: 35px;
            position: relative;
            margin: auto;
            img {
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 35px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .unnamed-footer {
            border-bottom: 1px solid #bddb9e;
        }
    }

    .news-section {
        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #151e0b;
        }

        .description {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #828282;
        }
        .card-news {
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 15px;
            .news-image {
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                width: 100%;
                height: 50%;
                img {
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    width: 100%;
                }
            }

            .news-info {
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                .news-date {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    color: #414b54;
                }
                .category {
                    background: #c4e8f5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 8px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                    color: #186d8b;
                    border-radius: 15px;
                }
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 110%;
                    color: #0c3543;
                }
                .profile-info {
                    .profile-img {
                        width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            border-radius: 30px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .profile-name {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #414b54;
                    }

                    .is-certified {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .news-footer {
            border-bottom: 1px solid #bddb9e;
        }
    }

    .feature-section {
        background: #f7f9f4;
        .feature-section-list {
            font-family: "Poppins";
            margin-top: 25px;
            cursor: pointer;
            &.__hovered {
                border-bottom: 0px;
                &::after {
                    width: 100%;
                    transition: width linear 5s;
                }
            }
        }

        .feature-section-list-loading-bar {
            height: 2px;
            margin-top: 25px;
            position: relative;
            &::before {
                display: block;
                content: " ";
                position: absolute;
                left: 0;
                top: -0.5px;
                width: 100%;
                height: 1px;
                background-color: #eef2f6;
            }
            &::after {
                display: block;
                content: " ";
                position: absolute;
                left: 0;
                width: 0%;
                height: 2px;
                background: #a7cf7d;
            }
            &.__hovered::after {
                width: 100%;
                transition: width linear 5s;
            }
        }

        .featured-section-list-link {
            &:hover {
                text-decoration: none;
            }
        }

        .feature-section-list-title {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;
            color: #151e0b;
            margin-bottom: 11px;
            transition: color ease-out 0.2s;
            &.__hovered {
                color: #151e0b;
                font-size: 21px;
            }
        }

        .feature-section-list-arrow {
            height: 16px;
            width: 9px;
            opacity: 0;
            margin-bottom: 11px;
            transition: opacity ease-out 0.2s, margin-left ease-out 0.2s;
            &.__hovered {
                opacity: 1;
                margin-left: 18px;
            }
        }

        .feature-section-list-desc {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 0;
            height: 0;
            opacity: 0;
            transition: color ease-out 0.2s, opacity ease-out 0.2s, height ease-out 0.2s;
            color: #333333;
            &.__hovered {
                height: unset;
                opacity: 1;
                color: #414b54;
            }
        }

        .wrapper-img {
            background: #ffffff;
            box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
            border-radius: 30px;
            width: 100%;
            .feature-img {
                width: 60%;
                position: relative;
                @media (min-width: 992px) {
                    height: 303px;
                }
                height: 140px;
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 30px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .desc {
                width: 40%;
                font-family: "FiraSans";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #333333;
            }
        }

        #wrapper-img-ft.animating {
            animation-duration: 0.7s;
            animation-fill-mode: both;
        }

        .zoomIn {
            animation-name: __zoomIN;
        }

        @keyframes __zoomIN {
            0% {
                opacity: 0;
                transform: scale(1, 1);
            }
            50% {
                opacity: 0.5;
                transform: scale(1.1, 1.1);
            }
            100% {
                opacity: 1;
                transform: scale(1, 1);
            }
        }
    }
}
