#home-page-dh {
    .banner-section {
        .text-date {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #62717d;
        }

        .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            color: #293b16;
            line-height: 120%;
            @media (min-width: 992px) {
                font-size: 48px;
            }
        }

        .description {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #333333;
        }
    }

    .donation-section {
        background: #f7f9f4;
        padding-top: 10rem !important;
        .header {
            text-align: center;
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
        }

        .card-donation {
            background: #ffffff;
            box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px -5px 24px -4px rgba(24, 39, 75, 0.08);
            border-radius: 26px;
            padding: 1.5rem !important;
            .card-child {
                width: 73px;
                height: 73px;
                background: rgba(233, 243, 223, 0.7);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .value {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                color: #186d8b;
                .currency {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .value-label {
                font-family: "FiraSans";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 120%;
                color: #333333;
            }
        }
    }

    .zakat-section {
        background: linear-gradient(360deg, #bddb9e 0%, #d3e7be 100%), #d3e7be;
        border-radius: 30px;
        position: relative;
        top: 6em;
        .islamic-bg {
            // background-image: url("/images/backgrounds/islamic.svg");
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 30px;
            width: 100%;
            height: 100%;
            opacity: 60%;
            mix-blend-mode: overlay;
        }
        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #293b16;
        }

        .card-zakat {
            background: #e9f3df;
            box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px -5px 24px -4px rgba(24, 39, 75, 0.08);
            backdrop-filter: blur(11px);
            border-radius: 26px;
            padding: 1.5rem !important;
            .card-child {
                width: 73px;
                height: 73px;
                background: #bddb9e;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .label {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                color: #151e0b;
            }
        }
    }

    .program-section {
        .program-footer {
            border-bottom: 1px solid #bddb9e;
        }

        .header {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #151e0b;
        }

        .desc {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #828282;
        }

        .card-program {
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 15px;
            .program-image {
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                width: 100%;
                height: 50%;
                img {
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    width: 100%;
                }
            }

            .program-info {
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 110%;
                    color: #0c3543;
                }
                .profile-info {
                    .profile-img {
                        width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            border-radius: 30px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .profile-name {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #414b54;
                    }

                    .is-certified {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .donation-info {
                    background: #edf9ff;
                    border-radius: 5px;
                    .donatur-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 14px;
                        height: 14px;
                        img {
                            width: 100%;
                        }
                    }

                    .donatur-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 140%;
                        color: #239cc6;
                    }
                    .donasi {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 140%;
                        color: #62717d;
                    }

                    .cart {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .days-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #62717d;
                    }

                    .days {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: #62717d;
                    }
                }

                .target-info {
                    .amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 19px;
                        color: #186d8b;
                    }

                    .target-amount {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: -0.005em;
                        color: #828282;
                    }
                }
            }
        }
    }
}
