#sk-page-dh {
    background: linear-gradient(180deg, rgba(221, 246, 255, 0.25) 0%, rgba(221, 246, 255, 0) 100%);
    .sk-wrapper {
        .title {
            font-weight: bold;
            font-size: 32px;
            line-height: 120%;
            color: #0098d1;
            font-family: "Poppins" !important;

        }
        .separatore {
            border-bottom: 1px solid #12bfff;
        }
        .content {
            strong {
                font-weight: bold !important;
            }
            p,
            label,
            span {
                .span {
                    background: transparent !important;
                    font-family: "Poppins" !important;
                }
                background: transparent !important;
                font-family: "Poppins" !important;
            }
            h1,
            h2,
            h3,
            h4,
            h5 {
                .span {
                    font-family: "Poppins" !important;
                    background: transparent !important;
                }
                font-family: "Poppins" !important;
                background: transparent !important;
            }
        }
    }
}
