#login-page-dh {
    padding: 40px 50px 70px 40px;
    position: relative;
    right: 0;
    top: 0%;
    bottom: 0%;
    background: #ffffff;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    border-radius: 20px;
    min-height: 100%;
    @media (min-width: 992px) {
        float: right;
        max-width: 50%;
    }
    .login-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 110%;
            color: #101315;
        }
        .text {
            font-family: "FiraSans";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 120%;
            color: #8896a2;
            &.link {
                color: #91c35d;
            }
        }
        .header-section {
            align-self: start;
        }

        .footer-section {
            align-self: end;
            .brd {
                width: 30%;
                align-self: center;
                border-top: 0.5px solid #a6b0b9;
            }

            .text {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #a6b0b9;
            }
        }
    }
}
