@mixin btn-dh($type) {
    border: none;
    @include rounded(28px, false);
    @include transition(all, 0.4s, ease-in-out);
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    @media (min-width: 992px) {
        font-size: 16px;
        padding: 12px 30px;
    }
    min-width: 102px;
    min-height: 50px;
    padding: 5px 15px;
    @if $type == "primary" {
        background: #7bb142;
        color: #ffffff;
        &:hover {
            color: #ffffff;
            background: #7bb142;
        }
        &:active,
        &:focus {
            color: #ffffff;
            background: #7bb142;
        }
    } @else if $type == "outline" {
        border: 1px solid #a7cf7d;
        background: #e9f3df;
        color: #52762c;
        &:hover {
            background: #e9f3df;
            color: #52762c;
        }
        &:active,
        &:focus {
            background: #e9f3df;
            color: #52762c;
        }
    } @else if $type == "outline-2" {
        border: 1px solid #91c35d;
        background: #ffffff;
        color: #91c35d;
        border-radius: 10px;
        font-weight: 500;
        &:hover {
            background: #e9f3df;
            color: #91c35d;
        }
        &:active,
        &:focus {
            background: #e9f3df;
            color: #91c35d;
        }
    } @else if $type == "outline-3" {
        border: 1px solid #89d1ea;
        border-radius: 8px;
        background: #ffffff;
        font-weight: 500;
        color: #239cc6;
        &:hover {
            background: #4ebae0;
            color: #ffffff;
        }
        &.fixmen {
            padding: 5px;
            font-size: 12px;
            width: 102px;
            height: 50px;
            white-space: nowrap;
        }
        &:active,
        &:focus,
        &.active {
            background: #4ebae0;
            color: #ffffff;
        }
    } @else if $type == "outline-4" {
        border: 1px solid #a7cf7d;
        background: #ffffff;
        font-weight: normal;
        color: #52762c;
        &:hover,
        &:active,
        &:focus,
        &.active {
            background: #a7cf7d;
            color: #52762c;
        }
    } @else if $type == "basic" {
        font-weight: 500;
        color: #8896a2;
        background: transparent;
        &:hover,
        &:active,
        &:focus {
            background: #e9f3df;
            color: #52762c;
        }
    } @else if $type == "secondary" {
        font-weight: 600;
        color: #ffffff;
        background: #a7cf7d;
        &:hover,
        &:active,
        &:focus {
            background: #a7cf7d;
            color: #ffffff;
        }
    }
}

// Border radius Mixi
@mixin rounded($size, $important) {
    @if $important {
        border-radius: $size !important;
    } @else {
        border-radius: $size;
    }
}

//Mixin Transition
@mixin transition($type, $time, $ease) {
    -ms-transition: $type $time $ease;
    -moz-transition: $type $time $ease;
    -o-transition: $type $time $ease;
    -webkit-transition: $type $time $ease;
    transition: $type $time $ease;
}

@mixin blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;

    &.lazyloaded {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}
