@mixin btn-dh($type) {
    border: none;
    @include rounded(28px, false);
    @include transition(all, 0.4s, ease-in-out);
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 30px;
    @if $type == "primary" {
        background: #7bb142;
        color: #ffffff;
        &:hover {
            color: #ffffff;
            background: #7bb142;
        }
        &:active,
        &:focus {
            color: #ffffff;
            background: #7bb142;
        }
    } @else if $type == "outline" {
        border: 1px solid #a7cf7d;  
        background: #e9f3df;
        color: #52762c;
        &:hover {
            background: #e9f3df;
            color: #52762c;
        }
        &:active,
        &:focus {
            background: #e9f3df;
            color: #52762c;
        }
    }
}

// Border radius Mixi
@mixin rounded($size, $important) {
    @if $important {
        border-radius: $size !important;
    } @else {
        border-radius: $size;
    }
}

//Mixin Transition
@mixin transition($type, $time, $ease) {
    -ms-transition: $type $time $ease;
    -moz-transition: $type $time $ease;
    -o-transition: $type $time $ease;
    -webkit-transition: $type $time $ease;
    transition: $type $time $ease;
}
