@import "./vendor/global";
@import "./base/global";
@import "./abstracts/global";
@import "./components/global";
@import "./layout/global";
@import "./pages/global";

body {
    margin: 0;
    font-family: "FiraSans", "Poppins";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
