#donation-payment-detail {
    font-size: 15px;
    @media (min-width: 992px) {
        max-width: 50vw;
    }
    .copy {
        cursor: pointer;
    }
    .title {
        font-weight: bold;
        font-size: 20px;
    }
    .subtitle {
        font-weight: normal;
        color: #8896a2;
        font-size: 14px;
    }

    .field {
        font-weight: normal;
        font-size: 11px;
        line-height: 120%;
        color: #8896a2;
        font-family: "FiraSans";
    }

    .value {
        font-weight: bold;
        font-size: 13px;
        color: #31383f;
    }

    .card-section-1 {
        background: #ffffff;
        border-radius: 24px 24px 0px 0px;
        @media (min-width: 992px) {
            padding: 30px 50px 30px;
        }
        padding: 20px;
        .counter {
            padding: 12px;
            background: #ffebdc;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .value {
                color: #a54d12;
                font-weight: 600;
                font-size: 13px;
                align-self: center;
            }
        }
    }
    .card-section-2 {
        background: #ffffff;
        // border-radius: 0px 0px 24px 24px;
        .child-card {
            padding: 15px 20px;
            background: #f6f8f9;
            font-size: 11px;
            color: #62717d;
            border-radius: 10px;
            .v {
                font-weight: 500;
            }
            .value {
                font-weight: bold;
                font-size: 11px;
                color: #62717d;
            }
        }
        @media (min-width: 992px) {
            padding: 30px 60px 40px;
        }
        padding: 20px;
        .field {
            color: #414b54;
        }
        .value {
            &.total {
                color: #12bfff;
                font-size: 15px;
            }
        }
    }
}
