#profile-page-dh {
    background: linear-gradient(180deg, rgba(221, 246, 255, 0.53) 0%, rgba(221, 246, 255, 0) 100%);

    .profile-wrapper {
        .form-group {
            &.rib-profile {
                margin-bottom: 10px;
                label {
                    color: #00415a;
                    font-weight: normal;
                    font-size: 12px;
                    font-family: "FiraSans" !important;
                }
            }
        }
        .profile-info {
            background: #ddf6ff;
            box-sizing: border-box;
            border-radius: 0px 0px 40px 40px;
            padding: 55px 40px 25px 30px;

            .name {
                color: #31383f;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
            }
            .email,
            .phone {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                color: #31383f;
                font-size: 12px;
            }
            .img-profile {
                width: 100px;
                height: 100px;
                border-radius: 30px;
                position: relative;
                // background: linear-gradient(360deg, #00aeef 0%, rgba(91, 91, 91, 0) 66.15%);
                background: #99e3ff;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
                .img-up {
                    position: absolute;
                    right: -10px;
                    top: 0;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .profile-transaction {
            .transaction-info {
                background: #ffffff;
                border: 0.5px solid #ededed;
                box-shadow: 0px 4px 8px rgba(90, 122, 163, 0.14);
                border-radius: 16px;
                padding: 32px;
                .total-donasi {
                    display: flex;
                    justify-content: space-between;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #000000;
                    .rp {
                        color: #151e0b;
                        font-weight: 600;
                        font-size: 18px;
                    }
                    .value {
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 48px;
                        color: #00aeef;
                    }
                }
                .table-profile-transaction {
                    max-height: 45vh;
                    thead {
                        th {
                            font-family: "Poppins";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            color: #a6b0b9;
                            padding: 10px 16px;
                            border: none;
                        }
                    }
                    tbody {
                        td {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 110%;
                            color: #101315;
                            padding: 20px 16px;
                        }
                    }
                }
            }
        }
    }

    .card-program {
        position: relative;
        .love {
            box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
            cursor: pointer;
            z-index: 2;
            border-radius: 10px;
            background: #ffffff;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            padding: 5px;
            display: flex;
            justify-content: center;
        }
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
        border-radius: 15px;
        min-height: 200px;
        .program-image {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            width: 100%;
            height: 200px;
            min-height: 150px;
            background: #ddf6ff;
            .imooge {
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                width: 100%;
                background: #ddf6ff;
                height: 100%;
            }
        }

        .program-info {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            .title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 110%;
                color: #0c3543;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .profileee-info {
                .profile-img {
                    width: 20px;
                    height: 20px;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        border-radius: 30px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .profile-name {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    color: #414b54;
                }

                .is-certified {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .donation-info {
                background: #edf9ff;
                border-radius: 5px;
                .donatur-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 14px;
                    height: 14px;
                    img {
                        width: 100%;
                    }
                }

                .donatur-amount {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 140%;
                    color: #239cc6;
                }
                .donasi {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 140%;
                    color: #62717d;
                }

                .cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .days-amount {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    color: #62717d;
                }

                .days {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    color: #62717d;
                }
            }

            .target-info {
                .amount {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 19px;
                    color: #186d8b;
                }

                .target-amount {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 15px;
                    text-align: right;
                    letter-spacing: -0.005em;
                    color: #828282;
                }
            }
        }
    }
}
