.profile-wrapper {
    .profile-info {
        background: #ffffff;
        border: 0.5px solid #ededed;
        box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
        border-radius: 16px;
        padding: 24px;
        .name {
            color: #31383f;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
        }
        .email,
        .phone {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            color: #31383f;
            font-size: 12px;
        }
        .img-profile {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
    .profile-transaction {
        .transaction-info {
            background: #ffffff;
            border: 0.5px solid #ededed;
            box-shadow: 0px 4px 8px rgba(90, 122, 163, 0.14);
            border-radius: 16px;
            padding: 32px;
            .total-donasi {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
                .rp {
                    color: #151e0b;
                    font-weight: 600;
                    font-size: 24px;
                }
                .value {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 48px;
                    color: #7bb142;
                }
            }
            .table-profile-transaction {
                max-height: 45vh;
                thead {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #a6b0b9;
                    th {
                        padding: 10px 16px;
                        border: none;
                    }
                }
                tbody {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 110%;
                    color: #101315;
                    td {
                        padding: 20px 16px;
                    }
                }
            }
        }
    }
}
